table {
	.eliminar {text-align: right;}
	.titulo, .creador {text-align: left;}
	.paginas input, .editar {text-align: center;}
	input:disabled {border-color: transparent;}
	.titulo input {min-width: 300px;}
}
