<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Prueba A | Listado de Comics Propios</title>

		<!-- Font Awesome -->
		<link rel="stylesheet" href="/publico/formatos/fontawesome/css/fontawesome.css" />
		<link rel="stylesheet" href="/publico/formatos/fontawesome/css/solid.css" />
		<link rel="stylesheet" href="/publico/formatos/fontawesome/css/regular.css" />

		<!-- Formato -->
		<link rel="stylesheet" href="/publico/formatos/general.css" />
		<link rel="stylesheet" href="/publico/formatos/comicsPropios.css" />

		<!-- Scripts -->
		<script src="/publico/javascript/comicsPropios.js"></script>
	</head>
	<body>
		<header>
			<h1>Listado de Comics Propios</h1>
		</header>
		<main class="flexColAlign">
			<table>
				<thead>
					<tr>
						<th class="eliminar">Eliminar</th>
						<th class="marvel_id">ID</th>
						<th class="titulo">Título</th>
						<th class="creador">Creador</th>
						<th class="paginas">Páginas</th>
						<th class="editar">Editar</th>
					</tr>
				</thead>
				<tbody>
					<% for (let comic of baseDatos) { %>
					<tr>
						<td class="eliminar"><i class="fa-solid fa-circle-xmark"></i></td>
						<td class="marvel_id"><%= comic.marvel_id %></td>
						<td class="titulo"><input name="titulo" type="text" value="<%= comic.titulo %>" disabled></td>
						<td class="creador"><input name="creador" type="text" value="<%= comic.creador || 's/d' %>" disabled></td>
						<td class="paginas"><input name="paginas" type="text" value="<%- comic.paginas || 's/d' %>" disabled></td>
						<td class="editar"><i class="fa-solid fa-pen"></i></td>
					</tr>
					<% } %>
				</tbody>
			</table>
			<section id="sectorIconos" class="flexRow">
				<a href="/alta-de-comics" class="iconos">
					<i class="fa-solid fa-circle-plus" title="Ir a alta de comics"></i>
				</a>
			</section>
		</main>
	</body>
</html>
