<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listado de Comics</title>

    <!-- Formato -->
    <link rel="stylesheet" href="/publico/formatos/general.css" />
    <link rel="stylesheet" href="/publico/formatos/listadoComics.css" />
  </head>
  <body>
    <header class="flexRowAlign">
      <h1>Listado de Comics</h1>
	  <a href="/listado-de-comics">
      <i class="fa-solid fa-circle-plus"></i>
	  </a>
    </header>
    <main></main>
  </body>
</html>
