<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Listado de Comics</title>

		<!-- Font Awesome -->
		<link rel="stylesheet" href="/publico/formatos/fontawesome/css/fontawesome.css" />
		<link rel="stylesheet" href="/publico/formatos/fontawesome/css/solid.css" />
		<link rel="stylesheet" href="/publico/formatos/fontawesome/css/regular.css" />

		<!-- Formato -->
		<link rel="stylesheet" href="/publico/formatos/general.css" />
		<link rel="stylesheet" href="/publico/formatos/listadoComics.css" />

		<!-- Scripts -->
		<script src="/publico/javascript/listado.js"></script>
	</head>
	<body>
		<header>
			<h1>Listado de Comics</h1>
		</header>
		<main class="flexColAlign">
			<table>
				<thead>
					<tr>
						<th class="eliminar">Eliminar</th>
						<th class="titulo">Título</th>
						<th class="creador">Creador</th>
						<th class="paginas">Páginas</th>
						<th class="editar">Editar</th>
					</tr>
				</thead>
				<tbody>
					<% for (let comic of comics) { %>
					<tr>
						<td id="marvel_id" class="ocultar input"><%= comic.id %></td>
						<td class="eliminar"><i class="fa-solid fa-circle-xmark"></i></td>
						<td id="titulo" class="titulo input"><%= comic.title %></td>
						<td id="creador" class="creador input"><%= comic.creators.items.length ? comic.creators.items[0].name : 's/d' %></td>
						<td id="paginas" class="paginas input"><%- comic.pageCount ? comic.pageCount : 's/d' %></td>
						<td class="editar"><i class="fa-solid fa-pen"></i></td>
					</tr>
					<% } %>
				</tbody>
			</table>
			<section id="sectorIconos" class="flexRow">
				<a href="/alta-de-comics" class="iconos">
					<i class="fa-solid fa-circle-plus" title="Ir a alta de comics"></i>
				</a>
			</section>
		</main>
	</body>
</html>
